[user]
        name    = Scott Cressi
        email   = scottcressi@gmail.com
[core]
        editor  = vim
        pager   = less -iR
[merge]
        tool    = vimdiff
[color]
        branch  = auto
        status  = auto
        diff    = auto
[push]
        default = tracking
[diff "sopsdiffer"]
	textconv = sops -d
