.config/Code
.config/Mousepad
.config/QtProject.conf
.config/Signal
.config/TerminusBrowser
.config/cmus
.config/coc
.config/dconf
.config/enchant
.config/filezilla
.config/gtk-3.0
.config/helm
.config/htop
.config/lftp
.config/mimeapps.list
.config/mpv
.config/neofetch
.config/pavucontrol.ini
.config/procps
.config/pulse
.config/qutebrowser
.config/ranger
.config/slack-term
.config/transmission
.config/vifm
.config/vlc
.config/xfce4
.config/xorg
.config/zathura
.newsboat/cache.db
.newsboat/cache.db.lock
.newsboat/history.cmdline
.newsboat/history.search
